.cexIcon{
    transform: scale(1.5);
    position: relative;
    padding-top: 5px;
}

.filterSegement{
    width:50%;
}

.priceRangeInput{
    width: 50%;
}

.formatIcons{
    width: 100%;
    transform: scale(0.8);
    height: 100%;
}