<mat-grid-list cols="4">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-radio-group>
            <mat-radio-button (click)="switchView('ag-grid')">Table</mat-radio-button>
            <mat-radio-button (click)="switchView('tile')">Tiles</mat-radio-button>
        </mat-radio-group>
    </mat-grid-tile>
</mat-grid-list>
<ag-grid-angular
    class="ag-theme-alpine-dark"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [domLayout]="'print'"
></ag-grid-angular>
