<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mr Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Add Entry</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar #searchBarTextBox [debounce]="1000" [inputmode]="'search'" (ionInput)="getResults($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list [inset]="true">

        @for(option of options; track option){
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                {{option.title}}
                <ion-note>@if(option.mediaType == 'tv'){: {{option.season}}} {{option.releaseYear}}</ion-note>
              </ion-label>
              <ion-icon slot="end" name="chevron-back-outline" colour="medium" size="large" ></ion-icon>
            </ion-item>

            <ion-item-options slide="end">
              <ion-item-option color="primary">
                @if(isLoadingBluray.get(option.id)){
                  <ion-spinner slot="end" name="circular" size="large"></ion-spinner>
                } @else{
                  @if(isSavedBluray.get(option.id)){
                      <ion-icon slot="icon-only" [src]="iconBluray"  size="large" (click)="handleSelection(option, false, 'bluray')"></ion-icon>
                    } @else {
                      <ion-icon slot="icon-only" [src]="iconBlurayOutline"  size="large" (click)="handleSelection(option, true, 'bluray')"></ion-icon>
                    }
                }                
              </ion-item-option>
              <ion-item-option color="medium">
                @if(isLoading4k.get(option.id)){
                  <ion-spinner slot="end" name="circular" size="large"></ion-spinner>
                } @else{
                  @if(isSaved4k.get(option.id)){
                      <ion-icon slot="icon-only" [src]="icon4K" size="large" (click)="handleSelection(option, false, '4k')"></ion-icon>
                    } @else {
                      <ion-icon slot="icon-only" [src]="icon4KOutline" size="large" (click)="handleSelection(option, true, '4k')"></ion-icon>
                    }
                }
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }  
    </ion-list>
    <ion-toast
      [isOpen]="isToast"
      message="{{toastMessage}}"
      [duration]="3000"
    ></ion-toast>
  </ion-content>
</ion-content>

<!-- <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div> -->