<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mr Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>
@if(!isLoading) {
<ion-header>
  <ion-toolbar>
    <ion-segment slot="start" (ionChange)="toggleGridListView($event)" [value]="isGrid? 'grid' : 'list'">
      <ion-segment-button value="grid">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment> 
    @if (!isGrid) {
      <ion-buttons slot="end">
        @if(isDelete && !isReorder){
          <ion-button id="clearCheckBoxButton"(click)="toggleCheckBoxes()">
              @if(deleteEntryList.length > 0){
                <ion-icon name="checkmark-circle"></ion-icon>
              }
              @else {
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              }
          </ion-button>
        } @else if (changeReorder) {
          <ion-button id="clearReorderButton"(click)="clearReorder()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        }
        <ion-button id="deleteEntryButton"(click)="toggleDelete()" [type]="deleteEntryButtonState">
          @if(isDelete && !isReorder){
            @if(deleteEntryList.length > 0){
              <ion-icon name="save"></ion-icon>
            }
            @else {
              <ion-icon name="close-outline"></ion-icon>
            }
          }
          @else if(!isDelete && isReorder){
  
          }
          @else {
            <ion-icon name="trash-outline"></ion-icon>
          }
        </ion-button>
        <ion-button id="reorderButton"(click)="toggleReorder()" [type]="reorderButtonState">
          @if(isReorder && !isDelete){
            @if(changeReorder){
              <ion-icon name="save"></ion-icon>
            }
            @else {
              <ion-icon name="close-outline"></ion-icon>
            }
          }
          @else if(!isReorder && isDelete){
  
          }
          @else {
            <ion-icon name="reorder-three-outline"></ion-icon>
          }
        </ion-button>
      </ion-buttons>
    }
      
  </ion-toolbar>
</ion-header>
}
@else {
  <ion-loading [isOpen]="isLoading" message="Loading List..."></ion-loading>
}

<ion-content [fullscreen]="true">
  @if(isGrid){
    <ion-grid>
      <ion-row>
        @for(entry of trackerList; track entry.mediaType === 'tv' ? entry.seasonId : entry.apiId){
          <ion-col size="4" size-md="2" size-sm="2">
            <ion-card>
              <img alt="movie Tile" src="{{imagePreFix + entry.image}}"/>
              <div class="mediaIcons">
                @for(format of entry.format; track $index){
                  <img [src]="getMediaTypeIcon(format)" class="mediaIcon"/>
                }
              </div>
              @if(entry.mediaType == 'tv'){
                <span class="seasonTitle mediaIcon">{{entry.season}}</span>
              }
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }
  @else {
    <ion-list [inset]="true">
      @if(isDelete){
        @for(entry of trackerList; track entry.mediaType === 'tv' ? entry.seasonId : entry.apiId){
          <ion-item>
              <ion-label>
                {{entry.title}}  @if(entry.mediaType == 'tv'){: {{entry.season}} }
                <ion-note>  {{formatDetail(entry)}}...</ion-note>
              </ion-label>
              @if(deleteEntryList.indexOf(getDeleteEntryId(entry)) != -1){
                <ion-icon  slot="end" name="checkmark-circle" (click)="updateDeleteEntryList(getDeleteEntryId(entry), false)"></ion-icon>
              }
              @else {
                <ion-icon  slot="end" name="ellipse-outline" (click)="updateDeleteEntryList(getDeleteEntryId(entry), true)"></ion-icon>
              }
          </ion-item>
        }
      }
      @else if(isReorder){
        <ion-reorder-group [disabled]="!isReorder" (ionItemReorder)="handleReorder($any($event))">
          @for(entry of trackerList; track entry.mediaType === 'tv' ? entry.seasonId : entry.apiId){
            <ion-item>
              <ion-label>
                {{entry.title}}  @if(entry.mediaType == 'tv'){: {{entry.season}} }
                <ion-note>  {{formatDetail(entry)}}...</ion-note>
              </ion-label>
              <ion-reorder slot="end">
                <ion-icon name="chevron-expand-outline"></ion-icon>
              </ion-reorder>
            </ion-item>
          }
        </ion-reorder-group>
      }@else {
          @for(entry of trackerList; track entry.mediaType === 'tv' ? entry.seasonId : entry.apiId){
            <ion-item>
              <ion-label>
                {{entry.title}}  @if(entry.mediaType == 'tv'){: {{entry.season}} }
                <ion-note>  {{formatDetail(entry)}}...</ion-note>
              </ion-label>
            </ion-item>
          }
      }
    </ion-list>
  }
  <!-- create model to confirm items being deleted -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Delete Entries</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="deleteEntries(true)">Confirm</ion-button>
          </ion-buttons>
          <ion-buttons slot="start">
            <ion-button (click)="deleteEntries(false)">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list-header>
          <ion-label>
            List of Entries being removed.
          </ion-label>
        </ion-list-header>
        <ion-list>
          @for(entry of removeEntryList; track entry.mediaType === 'tv' ? entry.seasonId : entry.apiId){
            <ion-item color="light">
              <ion-label>
                {{entry.title}}  @if(entry.mediaType == 'tv'){: {{entry.season}} }
              </ion-label>
            </ion-item>
          }
        </ion-list>
        <ion-content class="ion-padding">
          Confirm to continue or Cancel to return to delete view.
        </ion-content>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
