<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tracker
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleGridListView()">
        @if(isGrid){
          <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        }
        @else {
          <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isGrid){
    <ion-grid>
      <ion-row>
        @for(entry of trackerList; track entry.title){
          <ion-col size="4" size-md="6" size-sm="12">
            <ion-card>
              <img alt="movie Tile" src="{{imagePreFix + entry.image}}"/>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }
  @else {
    <ion-list [inset]="true">
      <ion-reorder-group [disabled]="isReorder">
        @for(entry of trackerList; track entry.title){
          <ion-item>
            <ion-label>
              {{entry.title}}
              <ion-note>  {{formatDetail(entry)}}...</ion-note>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        }
      </ion-reorder-group>
    </ion-list>
  }
</ion-content>
