<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tracker
    </ion-title>
    <ion-segment slot="end" (ionChange)="toggleGridListView($event)" value="grid">
      <ion-segment-button value="grid">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment> 
    <!-- <ion-buttons slot="end">
      <ion-button (click)="toggleGridListView()">
        @if(isGrid){
          <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        }
        @else {
          <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
        }
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isGrid){
    <ion-grid>
      <ion-row>
        @for(entry of trackerList; track entry.title){
          <ion-col size="4" size-md="6" size-sm="12">
            <ion-card>
              <img alt="movie Tile" src="{{imagePreFix + entry.image}}"/>
              <div class="mediaIcons">
                @for(path of ["/assets/icon/ultra-hd.svg", "/assets/icon/blu-ray-orig.svg"]; track $index){
                  <img [src]="path" class="mediaIcon"/>
                }
              </div>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }
  @else {
    <ion-toolbar>
      <ion-buttons slot="end">
        <!-- @if(isReorder){
          <ion-text>
            <sub>Click To Save -></sub>
          </ion-text>
        } -->
        <ion-button id="reorderButton"(click)="toggleReorder()" [type]="reorderButtonState">
          @if(isReorder){
            <ion-icon name="save-outline"></ion-icon>
          }
          @else {
            <ion-icon name="reorder-three-outline"></ion-icon>
          }
        </ion-button>
      </ion-buttons>
        
    </ion-toolbar>
    <ion-list [inset]="true">
      <ion-reorder-group [disabled]="!isReorder" (ionItemReorder)="handleReorder($any($event))">
        @for(entry of trackerList; track entry.title){
          <ion-item>
            <ion-label>
              {{entry.title}}
              <ion-note>  {{formatDetail(entry)}}...</ion-note>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        }
      </ion-reorder-group>
    </ion-list>
  }
</ion-content>
