<form #entriesForm="">
    <mat-form-field>
        <mat-label>Film Title</mat-label>
        <input type="text" 
            matInput
            placeholder="Enter Film title..." 
            [formControl]="searchField"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto='matAutocomplete' (optionSelected)="selectedOptions($event.option)">
            @for (option of options; track option) {
                <mat-option [value]="option">{{option.title}} | {{option.releaseYear}}</mat-option>
            }
        </mat-autocomplete>


    </mat-form-field>
    @if(showForm){<mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Title:</mat-panel-title>
                <mat-panel-description>{{newEnrtry.title}}</mat-panel-description>
                <mat-icon>edit</mat-icon>
            </mat-expansion-panel-header>
            
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="newEnrtry.title" name="title">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Over View:</mat-panel-title>
                <mat-panel-description>{{descriptionDisplay(newEnrtry.overview)}}</mat-panel-description>
                <mat-icon>edit</mat-icon>
            </mat-expansion-panel-header>
            
            <mat-form-field style="display: block;">
                <mat-label>Over View...</mat-label>
                <textarea matInput 
                        [(ngModel)]="newEnrtry.overview" 
                        name="overview"
                        style="overflow-y: scroll;"></textarea>
            </mat-form-field>
        </mat-expansion-panel>
        
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Genres:</mat-panel-title>
                <mat-panel-description>{{displayGenres(newEnrtry.genres).toString()}}</mat-panel-description>
                <mat-icon (click)="loadGenreList(newEnrtry.kind)">edit</mat-icon>
            </mat-expansion-panel-header>
            
            <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-chip-grid #genreGrid aria-label="Enter Genre">
                    @for(genre of newEnrtry.genres; track genre){
                        <mat-chip-row 
                            (removed)="updateGenreList('remove', genre)"
                            [aria-description]="'press enter to edit' + genre.name">
                        >
                        {{genre.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + genre.name"><mat-icon>cancel</mat-icon></button>
                        </mat-chip-row>
                    }
                    <input #genreInput
                        [formControl]="genreControl" 
                        placeholder="Another Genre..."
                        [matChipInputFor]="genreGrid"
                        [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"               
                    />
                    <mat-autocomplete #auto="matAutocomplete" 
                    (optionSelected)="updateGenreList('add', {name:$event.option.value, id:0}, $event)"
                    style="overflow: visible;">
                        @for (genre of genreList; track $index) {
                            <mat-option [value]="genre.name">{{genre.name}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-chip-grid>
            </mat-form-field>
        </mat-expansion-panel>
        
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Media Type:</mat-panel-title>
                <mat-panel-description>{{newEnrtry.kind}}</mat-panel-description>
                <mat-icon>edit</mat-icon>
            </mat-expansion-panel-header>

            <mat-label>Media Type</mat-label>
            <mat-chip-listbox>
                <mat-chip-option [selected]="newEnrtry.kind === 'tv'" (click)="newEnrtry.kind='tv'">Tv</mat-chip-option>
                <mat-chip-option [selected]="newEnrtry.kind === 'movie'" (click)="newEnrtry.kind='movie'">Movie</mat-chip-option>
            </mat-chip-listbox>
        </mat-expansion-panel>
    </mat-accordion>

    <button style="display: inline;" mat-raised-button color="primary" (click)="saveEntry()">Save</button>
    <button style="display: inline; color: black;" mat-stroked-button (click)="clearForm()">Clear</button>
    } @else {
        <p>Please search for Blu-ray details above.</p>
    }
    
</form>